html {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.container {
    /* Center the content of the container and leave 10% margin on both sides */
    margin: auto;
    width: 80%;
    position: relative;
}

.snap-scroll-container {
    /* Allows Content inside Container to snap Scroll */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory; /* Enable snap scrolling on y-axis */
    max-height: 100vh;  /* Sets container height to 100% of viewport height (vh) */
}

#boxContainer {
    /* boxContainer is used as "FlexBox", making it easier to sort content within */
    border: solid rgb(255, 0, 0);
    display: flex;
    gap: 10px;
    /* Center content inside boxContainer horizontally */
    justify-content: center;
    /* Center content inside boxContainer vertically */ 
    align-items: start;
    /* Creates a responsive design that moves boxes to the next row if the window size gets too small */
    flex-wrap: wrap;
    /* Evenly spaces boxes vertically if window gets smaller */
    align-content: space-evenly;
}

.box {
    /* Creates a square box with 200px per side to use within the boxContainer*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 40pt;
}

.imageBox {
    /* Creates a Box for images with a width of 65% of the boxContainer and central alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    object-fit: cover;
    border-radius: var(boxContainer);
}

.snap-scroll-section {
    scroll-snap-align: center; /* Snap each section to the start */
    height: 95vh;
}
